<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project Exchange About</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <!-- the entire page -->
  <div class="container">

    <!-- the top nav bar -->
    <div>
      <div class="navbar">
        <img id="logo-icon" src="/assets/project-exchange-logo.jpg" alt="Project Exchange's logo icon">
        <h1>Project Exchange About</h1>
      </div>
      <div class="navlinks">
        <span><u><a href="/about.html">About</a></u></span>
        <span><a href="/team.html">Team</a></span>
        <span><a href="/work.html">Work</a></span>
        <span><a href="/contact.html">Contact</a></span>
      </div>
    </div>

    <!-- the page content -->
    <div class="content">
      <p>Hi there! Welcome to Project Exchange. We are a team of young people,
        coming together to make cultural exchange more accessible for students
        around the world. </p>
      <p>Today’s most pressing problems–from climate change to the breakdown of
        democracy to the governance of emerging technologies–are global problems.
        We believe that cross-cultural education is key to helping young people… </p>
      <ol>
        <li>🗣 Engage in dialogue to better understand why others’ believe what they
          believe, and why they believe what they believe.</li>
        <li>💡 Synthesize different bodies of knowledge and lived experiences to
          generate creative solutions to important problems.</li>
        <li>🚀 Broaden their worldview, and in the process, raise their
          ambitions and connect with opportunities to pursue their goals.</li>
      </ol>
      <p>Our vision is to create a world where people understand each other, and
        are working together to make the world better. From 2018-2023, we ran a
        variety of <a href="/work.html">programs</a> that brought over 2,000
        high school students from 70+ countries together. Our flagship initiative
        was a 12-week Digital Exchange Program, complete with online host families,
        language learning, and workshops on topics like design thinking,
        community journalism, and the UN SDGs.</p>
      <p>As of May 2023, we are no longer running active programs. We’re
        especially glad to have been able to serve students through digital
        exchange at the height of COVID-19 (we were in full operations mode!).
        Our team is now taking some time to research, prototype, and explore new
        directions for what we want to build next. If you’ve been impacted by
        our work, have ideas for what you want to see, or simply want to say hi,
        please <a href="/contact.html">drop us a note</a>!</p>
    </div>

    <!-- the footer -->
    <div class="footer">
      <div id="footer-icons">
        <a href="https://www.facebook.com/myprojectexchange/" target="_blank">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.instagram.com/myprojectexchange/?hl=en" target="_blank">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/company/projectexchange/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
      <span id="footer-text">© 2023 Project Exchange.</span>
    </div>

  </div>

  <!-- js files -->
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>

</body>

</html>