<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project Exchange Contact</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <!-- the entire page -->
  <div class="container">

    <!-- the top nav bar -->
    <div>
      <div class="navbar">
        <img id="logo-icon" src="/assets/project-exchange-logo.jpg" alt="Project Exchange's logo icon">
        <h1>Project Exchange Team</h1>
      </div>
      <div class="navlinks">
        <span><a href="/about.html">About</a></span>
        <span><a href="/team.html">Team</a></span>
        <span><a href="/work.html">Work</a></span>
        <span><u><a href="/contact.html">Contact</a></u></span>
      </div>
    </div>

    <!-- the page content -->
    <div class="content">
      <p>As of May 2023, we’re no longer running active programs. Our team is
        taking some time to research, prototype, and explore new directions for
        what we want to build next.</p>
      <p>If you'd like to keep up with our work, please join our mailing list!</p>
      <form action=#>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Email Address">
          <button class="btn btn-primary" type="submit">Submit!</button>
        </div>
      </form>
      <p>And if you’ve been impacted by our work, have ideas for what you want
        to see, want to give our team feedback, or something else entirely,
        please <a href="mailto:ashley@myprojectexchange.com">send us a note</a>.
      </p>
    </div>

    <!-- the footer -->
    <div class="footer">
      <div id="footer-icons">
        <a href="https://www.facebook.com/myprojectexchange/" target="_blank">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.instagram.com/myprojectexchange/?hl=en" target="_blank">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/company/projectexchange/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
      <span id="footer-text">© 2023 Project Exchange.</span>
    </div>

  </div>

  <!-- js files -->
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>

</body>

</html>