<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project Exchange</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <!-- the entire page -->
  <div class="container">

    <!-- the top nav bar -->
    <div>
      <div class="navbar">
        <img id="logo-icon" src="/assets/project-exchange-logo.jpg" alt="Project Exchange's logo icon">
        <h1>Project Exchange Team</h1>
      </div>
      <div class="navlinks">
        <span><a href="/about.html">About</a></span>
        <span><u><a href="/team.html">Team</a></u></span>
        <span><a href="/work.html">Work</a></span>
        <span><a href="/contact.html">Contact</a></span>
      </div>
    </div>

    <!-- the page content -->
    <div class="content">
      <p>Around the world, less than 1% of students will have access to a
        meaningful cultural exchange experience as part of their secondary
        education. Among that 1%, less than ⅓ will be students of color.</p>
      <p>How can we raise a generation of diverse, creative, globally-minded
        problem solvers, if experiences like study abroad are limited to so few?
      </p>
      <p>Many of us at Project Exchange have experienced barriers to study abroad
        ourselves, whether they be due to financial reasons, lack of documentation,
        family commitments, the fact that we didn’t even know “study abroad” was
        an option, or something else entirely. Some of us have been lucky to
        receive support to study abroad, especially through the U.S. Department
        of State exchange programs like <a href="https://www.nsliforyouth.org/" target="_blank">NSLI-Y</a>,
        <a href="https://www.yes-abroad.org/" target="_blank">YES Abroad</a>, and
        <a href="https://exchanges.state.gov/non-us/program/youth-ambassadors" target="_blank">Youth Ambassadors</a>.
      </p>
      <p>As one example, before serving as an U.S. Youth Ambassador to Uruguay
        in 2018, our founder Ashley didn't think she’d be able to study abroad.
        Upon returning home, Ashley was determined to help others access the
        transformative learning experience she had. And although
        in-person exchanges weren't scalable, Ashley thought back to how
        she got to know her host family over WhatsApp, even <em>before</em> she
        arrived in Uruguay. What if we could replicate that aspect of the experience?
      </p>
      <p>Ashley quickly created a Google Form, and sent it to friends in the
        U.S. and Uruguay. She said, “fill this out to be matched with a
        new friend abroad on WhatsApp!” Within a couple hours, there were dozens of
        responses. Upon seeing the immense interest in digital-first
        cultural exchange, Ashley started gathering a team, designing curriculum,
        and building the groundwork for what became Project Exchange: a
        youth-led, 501c3 nonprofit increasing access to cross-cultural education.
      </p>
      <p>Project Exchange would not be possible without dozens of high school
        and college-aged volunteers who run day-to-day operations and dream up
        new programs:
      </p>
      <div class="col-area">
        <b class="col-6 col-sm-4 col-md-3"><h5>Staff</h5></b>
        <p class="col-6 col-sm-8 col-md-9">Ashley Lin • Meredith Hute • Sydney Fahn</p>
      </div>
      <div class="col-area">
        <b class="col-6 col-sm-4 col-md-3"><h5>Past Contributors</h5></b>
        <p class="col-6 col-sm-8 col-md-9">Abril Castillo Camacho • Angela Li • Anna Ortwein • Anushka Goyal • Areej Adheed Al-Taie • Bella
          Philips • Betel Tenna • Dareen Mohammed • Darija Barsukova • Jessica Duhon • Jenny Lu • Kristie Moore •
          Lillian Glaros • Lily Le • Luna Mercuri • Maysoon Hussein • Michelle Bui • Moksha Jammalmadugu
          • Reinika Howard • Rosália Sobral Costa Neta • Sierra Morehead • Sophie Chang • Surabhi Gangadkar • Tanya Singh • Timethius Terrell • Victoria Hsieh • Zoe Piccirillo • Zunaira Asad</p>
      </div>
      <div class="col-area">
        <b class="col-6 col-sm-4 col-md-3"><h5>Board & Advisors</h5></b>
        <p class="col-6 col-sm-8 col-md-9">Rosa Ramirez • Keyana Simmons • Traci Johnson</p>
      </div>
    </div>

    <!-- the footer -->
    <div class="footer">
      <div id="footer-icons">
        <a href="https://www.facebook.com/myprojectexchange/" target="_blank">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://www.instagram.com/myprojectexchange/?hl=en" target="_blank">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/company/projectexchange/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
      <span id="footer-text">© 2023 Project Exchange.</span>
    </div>

  </div>

  <!-- js files -->
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>

</body>

</html>