<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project Exchange Work</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <!-- the entire page -->
  <div class="container">

    <!-- the top nav bar -->
    <div>
      <div class="navbar">
        <img id="logo-icon" src="/assets/project-exchange-logo.jpg" alt="Project Exchange's logo icon">
        <h1>Project Exchange</h1>
      </div>
      <div class="navlinks">
        <span><a href="/about.html">About</a></span>
        <span><a href="/team.html">Team</a></span>
        <span><u><a href="/work.html">Work</a></u></span>
        <span><a href="/contact.html">Contact</a></span>
      </div>
    </div>

    <!-- the page content -->
    <div class="content">
      <p>Since 2018, we’ve been organizing digital-first programs that make
        cross-cultural learning more accessible for over 2,000 students in 70+ countries.
      </p>

      <div class="col-area">
        <b class="col-6 col-sm-4 col-md-3">
          <h5>Selected Programs</h5>
        </b>

        <div class="project-card border p-3 col-6 col-sm-8 col-md-9">
          <h5>Digital Exchange Program</h5>
          <b>
            <p>Our flagship 12-week, online cultural exchange program to foster
              cross-cultural understanding and global citizenship.</p>
          </b>
          <p>We match students with a peer from a different country based on
            language interests, and place them into an online “host family” on
            problem-area interests. We recruit and train one college-aged student
            to facilitate each family, which has ~10 students. Our facilitators
            not only contribute to a vibrant community of teaching and learning,
            they create and hold safe space for dialogue. Each cohort serves
            from 150-300 students, and has 15-30 facilitators.</p>
          <p>During the program, students meet weekly 1-1 with their partner,
            and 1:small group with their family. Every week, there’s a big “kickoff”
            lesson delivered by Project Exchange staff. Students complete and
            receive feedback on corresponding assignments around culture,
            storytelling, global citizenship, and community action. Most
            importantly, there’s a big Slack community, with daily reflection
            prompts for folks to get to know each other!</p>
          <em>Click <a
              href="https://www.notion.so/projectexchange/DEP-Overview-2afa2b60a0fc4e5a92645fa5e859b054?pvs=4" target="_blank">here</a>
            for a deeper dive into the DEP.</em>
        </div>
      </div>

      <div class="col-area">
        <div class="project-card border p-3 col-6 col-sm-8 col-md-9">
          <h5>Impact Incubator</h5>
          <b>
            <p>An 8-week program to help Digital Exchange Program alumni turn
              what they’ve learned into powerful, creative community action.
            </p>
          </b>
          <p>We help Digital Exchange Program graduates identify key insights
            from their experience, and turn these insights into community action
            projects that addresses a real problem they care about.
          </p>
          <p>Impact Incubator Fellows are matched with a peer mentor: another
            young person who has launched a successful community action project
            from start to finish. Fellows participate in weekly workshops and
            assignments that guide them through their project, covering topics
            like community mapping, storytelling, fundraising, mobilizing others,
            and measuring impact. They also receive a mini-grant to help them get
            started!</p>
          <p>Want to see an example of a Fellow’s project? Caroline Gao
            (Albany, OR) from our first cohort made <a href="https://www.theworldinus.org/" target="_blank">The World In Us</a>!
          </p>
        </div>
      </div>

      <div class="col-area partners-area">
        <b class="col-6 col-sm-4 col-md-3">
          <h5>Selected Partners & Supporters</h5>
        </b>

        <div class="logo-area col-6 col-sm-8 col-md-9">
          <div class="logo-card">
            <a href="https://www.nationalgeographic.com/" target="_blank">
              <img class="logo-img" src="/assets/nat-geo-logo.jpg" alt="National Geographic Logo">
            </a>
          </div>
          <div class="logo-card">
            <a href="https://www.peacefirst.org/" target="_blank">
              <img class="logo-img" src="/assets/peace-first-logo.png" alt="Peace First Logo">
            </a>
          </div>
          <div class="logo-card">
            <a href="https://www.ashoka.org/en-us" target="_blank">
              <img class="logo-img" src="/assets/ashoka-logo.jpg" alt="Ashoka Logo">
            </a>
          </div>
          <div class="logo-card">
            <a href="https://www.stevensinitiative.org/" target="_blank">
              <img class="logo-img" src="/assets/stevens-initiative-logo.jpg" alt="Stevens Initiative Logo">
            </a>
          </div>
          <div class="logo-card">
            <a href="https://www.icanhelp.net/digital4good" target="_blank">
              <img class="logo-img" src="/assets/d4g-logo.jpg" alt="#Digital4Good Logo">
            </a>
          </div>
          <div class="logo-card">
            <a href="https://citizenuniversity.us/" target="_blank">
              <img class="logo-img" src="/assets/cit-u-logo.png" alt="Citizen University Logo">
            </a>
          </div>
          <div class="logo-card">
            <a href="https://afs.org/" target="_blank">
              <img class="logo-img" src="/assets/AFS-logo.png" alt="AFS Logo">
            </a>
          </div>
          <div class="logo-card">
            <a href="https://www.wheretherebedragons.com/" target="_blank">
              <img class="logo-img" src="/assets/dragons-logo.webp" alt="Where There Be Dragons Logo">
            </a>
          </div>
          <div class="logo-card">
            <a href="https://girlup.org/programs/wisci" target="_blank">
              <img class="logo-img" src="/assets/girl-up-logo.jpeg" alt="WiSci Logo">
            </a>
          </div>
          <div class="logo-card">
            <a href="https://rootsandshoots.org/" target="_blank">
              <img class="logo-img" src="/assets/JGI-logo.jpeg" alt="Roots & Shoots Logo">
            </a>
          </div>
          <div class="logo-card">
            <a href="https://exchanges.state.gov/non-us/program/youth-ambassadors" target="_blank">
              <img class="logo-img" src="/assets/YA-logo.jpg" alt="Youth Ambassador Logo">
            </a>
          </div>
          <div class="logo-card">
            <a href="https://www.facebook.com/TeachingPeaceInitiative/" target="_blank">
              <img class="logo-img" src="/assets/TPI-logo.jpeg" alt="Teaching Peace Initiative Logo">
            </a>
          </div>
          <div class="logo-card">
            <a href="https://amigosinternational.org/" target="_blank">
              <img class="logo-img" src="/assets/amigos-logo.webp" alt="Amigos de las Americas Logo">
            </a>
          </div>
          <div class="logo-card">
            <a href="https://www.arist.co/" target="_blank">
              <img class="logo-img" src="/assets/arist-logo.jpeg" alt="Arist Logo">
            </a>
          </div>
          <div class="logo-card">
            <a href="https://www.rileysway.org/" target="_blank">
              <img class="logo-img" src="/assets/rileys-way-logo.png" alt="Riley's Way Logo">
            </a>
          </div>
        </div>
      </div>

      <!-- the footer -->
      <div class="footer">
        <div id="footer-icons">
          <a href="https://www.facebook.com/myprojectexchange/" target="_blank">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/myprojectexchange/?hl=en" target="_blank">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/company/projectexchange/" target="_blank">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
        <span id="footer-text">© 2023 Project Exchange.</span>
      </div>

    </div>

    <!-- js files -->
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>

</body>

</html>